page-home {
    ion-content {
        background: url('../../assets/imgs/2bg1.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
      }
      .scroll-content{
        margin-top: 30px !important;
        // margin-bottom: 240px !important;
        height: 58% !important;
        padding: 0 !important;
      }
    ion-toolbar {
        --background: transparent !important;
        --ion-color-base: transparent !important;
        color:white !important
      }
      .toolbar-background-md{
          background: transparent !important;
      }
      ion-header .toolbar-background-md{
        background: transparent !important;
    }
    ion-toolbar ion-icon{
        color:white !important
    }
    #app-section {
      ion-icon {
        font-size: 15rem;
      }
    }
    ion-header{
      .button-inner{
        font-size: 1.35em;
      }
    }
    #media-controls {
      button {
        ion-icon {
          font-size: 2.7rem;
        }
      }
    }
    .songName{
        font-size: 1.75em;
        color:white;
        margin: 0;
        margin-top: -5px;
        letter-spacing: 0.2em;
        font-weight: 400;
    }
    .range-md{
        padding: 0;
    }
    .album{
        color:rgb(185, 174, 174);
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .col{
        padding: 0;
    }
    ion-footer{
      background: linear-gradient(rgba(37, 36, 36, 0.5), rgba(46, 44, 44, 0.5));
        ion-toolbar{
          padding: 5px !important;
        }
    }
    .musicTime1{
        color:white;
        position: absolute;
        left: 10px;
        bottom: 10px;
        font-size: 1.15em;
    }
    .musicTime2{
        color:white;
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 1.15em;
    }
    .albumImg{
      width: 70%;
    }
    .combinedImg{
      background: none;
      box-shadow: none;
      width: 2.4em;
    }
    #combined{
      border: 1px solid grey;
      border-radius: 25px;
      background-color: grey;
      margin: 10px;
    }
    .shuffle{
      background: none;
      box-shadow: none;
    }
    .footerInfo{
      font-size: 1.35em;
      margin:0;
    }
    ion-card{
      border-radius: 10px !important;
      margin:0 !important;
      background: grey !important;
      img{
        max-height: 20vh;
        border-radius: 10px !important;
      }
    }
    ion-card-content{
      padding: 4px 0 !important;
      p{
        font-size: 0.8em !important;
        color:white !important;
        margin: 0 !important
      }
    }
    ion-card-title{
      font-size: 1.2em !important;
      margin:0 !important;
      padding: 0 !important;
      color:white !important
    }
    ion-range{
      height: 5px !important;
    }
    ion-grid{
      padding: 0 auto !important;
    }
  }